/1-A-Sports-Tournament-Scheduling-Problem.pdf
/2-Handling-fairness-issues-in-time-relaxed-tournaments-with-availability-constraints.pdf
/3-Automated-timetable-generation-for_rounds_of_a_tab.pdf
/4-Memetic-Algorithm-timetabling-for-non-commercial-sport-leagues.pdf
/5-van-bulck-et-al-indoor-football.pdf
/6_Scheduling_a_round_robin_tennis_tourname.pdf
/7_Scheduling non-professional table-tennis leagues.pdf
/8_Strategies for dealing with uncertainty in time-relaxed sports timetabling.pdf
/availability
/code working.txt
/code.py
/code1.txt
/testing.py
10_Serie A.pdf
